{{define "footer"}}
<footer>
    <a class="footer-item" href="https://github.com/smartfrigde/skryble" target="_blank">{{.Translation.Get "source-code"}}</a>
    <a class="footer-item" href="https://github.com/smartfrigde/skryble" target="_blank">{{.Translation.Get "help"}}</a>
    <a class="footer-item" href="https://github.com/smartfrigde/skryble" target="_blank">{{.Translation.Get "contact"}}</a>
    <a class="footer-item" href="https://github.com/smartfrigde/skryble/issues/new" target="_blank">{{.Translation.Get "submit-feedback"}}</a>
    <a class="footer-item" href="{{.RootPath}}/v1/stats" target="_blank">{{.Translation.Get "stats"}}</a>
</footer>
{{end}}
